<h1>Update Post</h1>

Title: {{input value=model.title}} <br>
Description: <br>
{{textarea value=model.description cols="80" rows="6"}} <br>
<button {{action 'update'}}>Update</button>
<button>{{#link-to 'posts'}}back{{/link-to}}</button>