<h1>{{model.title}}</h1>

<p>{{model.description}}</p>

{{#link-to 'posts'}}Go back to posts{{/link-to}}
{{#link-to 'posts.edit' model}}edit{{/link-to}}
<a href="#" {{action 'delete'}}>delete</a>
{{outlet}}
